body {

    background-color: rgba(0, 0, 0, 0.842);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

header {

    color: white;
    text-align: center;
    box-shadow: 3px 5px 55px 5px rgb(43, 110, 226); /*5 é lateral - 2 vertical - 3 - espalhamento*/

}

h1{
    color: rgba(93, 208, 78, 0.778);
    box-shadow: 5px 5px 10px blue;
}



section {

    background-color: rgba(41, 33, 33, 0.218);
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px; /*largura*/
    margin: auto;
    box-shadow: 15px 5px 20px rgb(81, 255, 0);

}

div {
    text-align: center;
    padding: 8px ;
}



footer {

    color: white;
    text-align: center;
    font-style: italic;
    box-shadow: 3px 5px 55px 5px rgb(43, 110, 226); /*5 é lateral - 2 vertical - 3 - espalhamento*/
}